@font-face {
  font-family: "Yekan";
  src: url("../assets/fonts/Yekan.eot");
  /* IE9 Compat Modes */
  src: url("../assets/fonts/Yekan.eot") format("embedded-opentype"),
    url("../assets/fonts/Yekan.woff2") format("woff2"),
    url("../assets/fonts/Yekan.woff") format("woff"),
    url("../assets/fonts/Yekan.ttf") format("truetype");
  /* Safari, Android, iOS */
}

* {
  font-family: "Yekan";
}

body {
  background-color: #cbe7fd;
  overflow-x: hidden;
}

*:focus,
*:active {
  box-shadow: none !important;
}
